:root{
    --indigo: #005eb8;
    --dark-indigo: rgb(2 68 131);
    --border-indigo: rgba(0, 94, 184, .2);
    --warn: #f7a827; 
    --primary: #005eb8;
    --secondary: #666;
    --box-border-radius: .3em;
}

body{
    font-family: sans-serif;
    color: var(--dark-indigo);
    box-sizing: border-box;
}

.general-container{
    display: flex;
    flex-direction: column;
    gap: 4em;
    place-content: center;
    padding: 4em 9em;
    border: 1.5px solid var(--border-indigo);
    width: 70%;
    max-width: 1024px;
    margin: auto auto;
    background-color: rgba(0,0,0,0.04);
}

.search-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.icon-group{
    display: flex;
    gap: .3em;
    color: var(--indigo);
}

.flight-type-block{
    display: flex;
    gap: 1em;
    color: var(--indigo);

}

#one-way{

}

#round-trip{

}

.board-block{
    display: flex;
    align-items: flex-start;
    gap: 1.5em;
}

.flight-where-block{
    display: flex;
    gap: 1em;
    position: relative;
}

.flight-where-block input{
    width: 15vw;
    height: 3vw;
    padding-left: 1em;
    outline: none;
    border: 1px solid var(--border-indigo);
    font-size: .7em;
}

.flight-where-block input::placeholder{
}

.flight-where{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 4px;
    border-radius: var(--box-border-radius);
}

.flight-where svg{
    padding-left: 5px;
}

.suggest-airports{
    background-color: white;
    width: 20vw;
    height: 10vw;
    position: absolute;
    top: 3.5vw;
    padding: 2em 1em;
    font-size: .737em;
    display: none;
    flex-direction: column;
    gap: .3em;  
}

.suggest-airports span{
    cursor: pointer;
}

.suggest-airports span:hover{
    background-color: #012e58;
    color: white;
}

.flight-from{

}

.flight-to{
    
}

.calendar-block{
    display: flex;
    gap: 1em;
    align-items: center;
}

.calendar-block input{
    width: 8vw;
    height: 3vw;
    border: 1px solid var(--border-indigo);
    border-radius: var(--box-border-radius);
    padding: 0 .6em;
    font-size: .7em;
    font-weight: 600;
    color: #012e58;
}

.calendar-block input:focus{
    outline: none !important;
    border: 1px solid var(--border-indigo) !important;
    border-radius: var(--box-border-radius) !important;
}

.calendar-block input::placeholder{
    font-size: .7vw;
    color: #005e8b;
    text-transform: uppercase;
}

.calendar-item{
    display: flex;
    flex-direction: column;
    gap: .3em;
    border-radius: var(--box-border-radius);
}

.passenger-block{
    display: flex;
    flex-direction: column;
    gap: .3em;
    position: relative;
}

.passenger-num{
    width: 10vw;
    height: 3vw;
    box-sizing: border-box;
    border: 1px solid var(--border-indigo);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    border-radius: var(--box-border-radius);
    background-color: white;
    cursor: pointer;
    font-size: .737em;
    position: relative;
}

.passenger-btn:hover{
    text-decoration: underline;
}

.passenger-types{
    position: absolute;
    top: 3vw;
    left:0; 
    background-color: white;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 1.5px solid var(--border-indigo);
    height: 15em;
    display: none;
}

.passenger-type-block{
    display: flex;
    gap: 1em;
}

.passenger-type-block > span:first-child{
    width: 10em;
}

.passenger-count{
    
}

.passenger-count-up{
    background-color: var(--indigo);
    color: white;
    width: 1.2em;
    height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.passenger-count-down{
    background-color: var(--indigo);
    color: white;
    width: 1.2em;
    height: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#search-btn{

}

.btn-wrn{
    width: 7em;
    font-size: 1em;
    font-weight: 600;
    padding: 0.6em 0.8em;
    border: none;
    background: var(--warn);
    color: white;
    cursor: pointer;
}

.ps-type-warning-message{
    color: red;
}

.display-block{
    display: flex;
}

/* DATE PİCKER */

.ui-datepicker-header{
    background-color: var(--border-indigo) !important;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active{
    background-color: var(--border-indigo) !important;
    border-radius: var(--box-border-radius);
    text-align: center;
}

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover{
    color: #012e58 !important;
    background-color: white !important;
    border-color: #012e58 !important;
    font-weight: bold !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
    color: #012e58 !important;
    background-color: rgba(0, 94, 184, .1) !important;
    border-color: #012e58 !important;
}

.ui-widget-header{
    color: #012e58 !important;
}

.ui-widget-content{
    color: #012e58 !important;
}


/* Card*/

.result-container{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.card-container{
    width: 100%;
    padding: 1em 2em;
    border-radius: var(--box-border-radius);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .737em;
    background-color: #d8d8d8;
}

.airline-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
}

.airline-block img {
    width: 2em;
}

.departure-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;

}

.flight-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;

}

.arrival-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;

}

.price-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
}

#choose-fly{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7a827;
    color: white;
    padding: .8em 1.6em;
}